* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #7A2048;
}

header {
    padding: 20px 35px;
    background-color: #1e2761;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #408EC6;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #408EC6;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background: #1e2761;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #408EC6;
    font-size: 30px;
    margin: 0%;
}

section {
    padding: 30px 15px;
}

/*Hero Style*/
.hero {
    background-image: url("./assets/image.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
}
/*Hero Style Ends*/

.about-me h2 {
    flex: 1 100%;
    text-align: left;
    }

.info h3 {
    font-size: 26px;
    line-height: 1.5;
    color: #7A2048;
}

.info p {
    font-size: 26px;
    line-height: 26px;
    color: #7A2048;
}

.info {
    margin-left: 40%;
    /* flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; */
}

.my-info {
    background: #408EC6;
}

#work-section {
    margin-left: 300px;
    width: 500px;
}

.about-me {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
}


.about-me h2 {
    color: #7A2048;
    font-size: 46px;
    flex: 1 30%;
}

hr.vertical {
    border-left: 6px solid #7A2048;
    height: 1350px;
    position:absolute;
    left: 33%;
    margin-left: -3px;
    top: 104%;
}

.my-work {
    display: flex;
}

.my-work img {
    width: 150px;
    height: 150px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; 
    justify-content: space-evenly;
    align-items: center;
}

.imageOne {
    margin: 10px;
    /*position: relative--> need to figure out how to get photos aligned properly*/
}

.imageTwo {
   margin: 10px;
   
}
